<ion-view title="Instalaciones Eléctricas I" id="page16" style="background-color:#0082D8;">
  <ion-content padding="true" class="has-header">
    <ion-list id="instalacionesElCtricasI-list18">
      <ion-item class="item-icon-right dark" id="instalacionesElCtricasI-list-item98">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="instalacionesElCtricasI-list-item99">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="instalacionesElCtricasI-list-item100">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="instalacionesElCtricasI-list19">
      <ion-item class="item-icon-right dark" id="instalacionesElCtricasI-list-item101">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="instalacionesElCtricasI-list-item102">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="instalacionesElCtricasI-list-item103">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>