<ion-view title="Programas de Cátedra" id="page12" style="background-color:#0082D8;">
  <ion-content padding="true" class="has-header">
    <ion-list id="programasDeCTedra-list11">
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item33">
        <i class="icon ion-ios-list-outline"></i>Matemática</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item34">
        <i class="icon ion-ios-list-outline"></i>Física</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item53">
        <i class="icon ion-ios-list-outline"></i>Matemática Aplicada</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item54">
        <i class="icon ion-ios-list-outline"></i>Instalaciones Eléctricas I</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item55">
        <i class="icon ion-ios-list-outline"></i>Iluminación</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item56">
        <i class="icon ion-ios-list-outline"></i>Taller de Electricidad</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item57">
        <i class="icon ion-ios-list-outline"></i>Ingles</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item58">
        <i class="icon ion-ios-list-outline"></i>Informática Aplicada</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item59">
        <i class="icon ion-ios-list-outline"></i>Expresión Oral y Escrita</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item60">
        <i class="icon ion-ios-list-outline"></i>Instalaciones Eléctricas II</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item61">
        <i class="icon ion-ios-list-outline"></i>Seguridad y Protección Industrial</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item62">
        <i class="icon ion-ios-list-outline"></i>Electrónica I</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item63">
        <i class="icon ion-ios-list-outline"></i>Representación Técnica</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item64">
        <i class="icon ion-ios-list-outline"></i>Taller de Electrónica Aplicada</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item65">
        <i class="icon ion-ios-list-outline"></i>Electrónica II</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item66">
        <i class="icon ion-ios-list-outline"></i>Instalaciones Eléctricas III</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item67">
        <i class="icon ion-ios-list-outline"></i>Taller de Documentación Eléctrica</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item68">
        <i class="icon ion-ios-list-outline"></i>Sensores y Automatismo</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item69">
        <i class="icon ion-ios-list-outline"></i>Neumática e Hidráulica</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item70">
        <i class="icon ion-ios-list-outline"></i>Taller de Empresa Tecnológica</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item71">
        <i class="icon ion-ios-list-outline"></i>Instalaciones de Corrientes Débiles</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item72">
        <i class="icon ion-ios-list-outline"></i>Electrónica III</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item73">
        <i class="icon ion-ios-list-outline"></i>Sistemas Digitales</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item74">
        <i class="icon ion-ios-list-outline"></i>Trabajo Final</ion-item>
    </ion-list>
  </ion-content>
</ion-view>